body {
    background-image: url(../../imagenes/pokeFondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

.pags{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 5px;
}

.num_pag{
    display: flex;
    flex-direction: row;
}
.num_pag button {

    background-color: #eaeaea;
    color: #333;
  }
  
  .num_pag button.current-page {
    background-color: #333;
    color: #fff;
  }
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
