.cards_container{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 15px;
}

.cards_container a {
    text-decoration: none;
  }